static/xsd/projects/RussianDoll Design/example.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetnamespace="urn:examples:schema">
    <xs:element name="Texting" type="xs:string"></xs:element>
    <xs:element name="Author" type="xs:string"></xs:element>
    <xs:element name="Book">
        <xs:complextype>
            <xs:sequence>
                <xs:element></xs:element>
            </xs:sequence>
        </xs:complextype>
    </xs:element>
</xs:schema>