static/xsd/projects/RussianDoll Design/example1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetnamespace="urn:examples:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element type="xs:string" name="Text"></xs:element>
    <xs:element type="xs:string" name="Author"></xs:element>
    <xs:element name="Book">
        <xs:complextype>
            <xs:sequence>
                <xs:element></xs:element>
            </xs:sequence>
        </xs:complextype>
    </xs:element>
</xs:schema>